<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="org.hanzify.llf.Settings" type="org.hanzify.llf.util.Setting.NameValueSectionHandler, org.hanzify.llf.util" />
  </configSections>

  <org.hanzify.llf.Settings>
    <add key="Orm.UsingParamter" value="false" />

    <add key="DataBase" value="@Access : org.hanzify.llf.MockSql.Recorder.ConsoleRecorder, org.hanzify.llf.MockSql" />
    <add key="DbDriver" value="org.hanzify.llf.Data.Driver.CommonDbDriver, org.hanzify.llf.Data" />
    <add key="DbProviderFactory" value="org.hanzify.llf.MockSql.RecorderFactory, org.hanzify.llf.MockSql" />

    <add key="1.DataBase" value="@SqlServer2000 : org.hanzify.llf.MockSql.Recorder.ConsoleRecorder, org.hanzify.llf.MockSql" />
    <add key="1.DbDriver" value="org.hanzify.llf.Data.Driver.CommonDbDriver, org.hanzify.llf.Data" />
    <add key="1.DbProviderFactory" value="org.hanzify.llf.MockSql.RecorderFactory, org.hanzify.llf.MockSql" />

    <add key="2.DataBase" value="@MySql : org.hanzify.llf.MockSql.Recorder.ConsoleRecorder, org.hanzify.llf.MockSql" />
    <add key="2.DbDriver" value="org.hanzify.llf.Data.Driver.CommonDbDriver, org.hanzify.llf.Data" />
    <add key="2.DbProviderFactory" value="org.hanzify.llf.MockSql.RecorderFactory, org.hanzify.llf.MockSql" />

    <add key="3.DataBase" value="@SQLite : org.hanzify.llf.MockSql.Recorder.ConsoleRecorder, org.hanzify.llf.MockSql" />
    <add key="3.DbDriver" value="org.hanzify.llf.Data.Driver.CommonDbDriver, org.hanzify.llf.Data" />
    <add key="3.DbProviderFactory" value="org.hanzify.llf.MockSql.RecorderFactory, org.hanzify.llf.MockSql" />
  </org.hanzify.llf.Settings>

  <appSettings>
    <add key="RecorderFileName" value="c:\1.sql" />
  </appSettings>
</configuration>