hr { border: solid 1px blue; height: 1px; }

.Warning { color: Red; }
.Notice { color: Green; }
.Tip { color: Gray; }
.ErrInput { border:2px solid red; }

.banner
{
    width: 100% - 100;
    text-align: center;
    height: 50px;
    line-height: 20px;
	background: url("../images/banner.jpg") no-repeat;
	background-color: Gray;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
    margin-left:20px;
    margin-right:20px;
}

.icon1
{
    width: 96px;
    height: 100px;
	background: url("../images/icon.gif") no-repeat;
	float:right;
}

.icon2
{
    width: 96px;
    height: 100px;
    float: left;
}

.banner_right
{
	top: 20px;
	text-align: right;
	position: relative;
	padding-right: 15px;
}

.header
{
    width: 100% - 100;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: #f0f0f0;
    padding: 5px;
    border-bottom: solid 1px gray;
    margin-left:20px;
    margin-right:20px;
}

.body
{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    background-color: white;
}

.footer
{
    width: 100% - 100;
    text-align: center;
    height: 32px;
    line-height: 16px;
    background-color: white;
    padding: 5px;
    border-top: solid 1px gray;
    margin-left:20px;
    margin-right:20px;
    padding-top:10px;
}

#navigator { float: left; }
#oprator { float: right; }

.content { font-size: 14px; line-height:140%; margin:5px 20px; padding: 0px; }

.ffcenter { margin:0 auto; }
.tip { margin: 2px; font-size: small; color: Gray; }

a:link { color: #003399; text-decoration:none; }
a:visited { color: #003399; text-decoration:none; }
a:hover { color: white; background-color:#003399; }

table { width: 100%; }
.table_title { background-color:#f0f0f0; height:35px; border-top: solid 1px gray; }
.table_subtitle { background: #f0f0f0; height:25px; border-top: solid 1px gray; }
.table_content { background: white ; line-height:120% }
.table_content ul li { margin-left:-1.5em }
.table_subfooter { background: white ; line-height:120%; text-align:right; }
.table_footer { background: #f0f0f0; text-align:right; width:95%; border-top: solid 1px gray; padding:5px; border-bottom: solid 1px gray; }
.comment_count { color:red; }
.read_count { color:Red; }

.article_title {}
.article_title h1 { text-align:center; margin:0 auto; padding: 15px; background-color:#f0f0f0; margin-top:20px; margin-bottom:20px; border-top:solid 1px gray; }
.article_content {}
.article_footer { background-color:#f0f0f0; text-align:right; padding:10px; margin-top:20px; margin-bottom:20px; border-bottom:solid 1px gray; }

.comment_title { height:20px; background-color:#f0f0f0; border-top:solid 1px gray; font-size:12px; }
.comment_content { font-size:12px; }
.comment_action { float:right; }
.comment_input {}

.page_bar { height:30px; background-color:#f0f0f0; text-align:right; border-bottom:solid 1px gray; border-top:solid 1px gray; }

.register_user { color:Green; }
.unregister_user { color:Gray; }

.home { margin-left:16px; margin-right:16px; width:auto; }
.home_list { width: auto; }
.home_widget { width:200px; }

.category_list { margin-left:19px; margin-right:19px; }

.edit_title {}
.edit_title h1 { text-align:center; margin:0 auto; padding: 15px; background-color:#f0f0f0; margin-top:20px; margin-bottom:20px; border-top:solid 1px gray; }
.edit_content { width:635px; margin:0 auto; background-color:#f0f0f0; padding:15px; border:solid 1px gray; }
.edit_action { text-align:center; }

.search_bar { margin-bottom:10px; }
.search_bar form { margin:0px; }
.search_button { width: 60px; }

body { background:#FFFFFF; font-size: 12px; font-family:新宋体; }
input, textarea {  font-size: 12px; }
select {  font-size: 12px; border-width:1px }
.quote { margin:10px; margin-left:2em; border:1px solid #CCCCCC; padding:5px;  background: #FFFFFF; font-family:Verdana,Arial,宋体; }
.code { margin:10px; margin-left:2em; }

.aTitle { font-size: 15px;font-weight:bold; }

.border { border:1px solid #ccccff }
.gray { color:gray; text-decoration:none }
.time { color:red }
.hit { color:green }
.tdBg { background: #f2f8ff ; line-height:120%}
.bg1 { background: #f2f8ff; }
.bg2 { background: #E8F2FF; }

.SubTitle{font-family:新宋体;font-size:12pt;color:black;text-align:center;background-color:#e8f2ff; border:1px solid #ccccff; padding-top:2pt;}
.Head{font-size:16pt;color:#ff3399;}
.nblock{ background:#f2f8ff; border-top:0;border-bottom:0;padding:5pt; }
blockquote{font-size:9pt;color:black;background-color:white;cursor:default;border-top:double;border-bottom:double;padding:10pt}
.n1{color:black;background-color:yellow;font-weight:normal}
.n2{color:purple;font-weight:normal}
.n3{color:red;font-weight:normal}
.n4{color:blue;font-weight:normal}
.n5{color:green;font-weight:normal}
.c1{color:yellow;background-color:red}
.c2{color:red;background-color:yellow}
.c3{color:yellow;background-color:yellow}

.rightnew{ text-align:right; width:95%; }
