/src/Leafing.CodeGen/obj
/src/Leafing.CodeGen/bin
/src/Leafing.Core/obj
/src/Leafing.Core/bin
/src/Leafing.Data/obj
/src/Leafing.Data/bin
/src/Leafing.Data.Oracle8/obj
/src/Leafing.Data.Oracle8/bin
/src/Leafing.Extra/obj
/src/Leafing.Extra/bin
/src/Leafing.Membership/obj
/src/Leafing.Membership/bin
/src/Leafing.MockSql/obj
/src/Leafing.MockSql/bin
/src/Leafing.MSBuild/obj
/src/Leafing.MSBuild/bin
/src/Leafing.Processor/obj
/src/Leafing.Processor/bin
/src/Leafing.UnitTest/obj
/src/Leafing.UnitTest/bin
/src/Leafing.UnitTest.NoConfig/obj
/src/Leafing.UnitTest.NoConfig/bin
/src/Leafing.UnitTest.VB/obj
/src/Leafing.UnitTest.VB/bin
/src/Leafing.Web/obj
/src/Leafing.Web/bin
/*.suo
/bin/*.exe
/bin/*.dll
/bin/*.config
/src/*.userprefs
/src/*.user

*.suo
/bin/*.nupkg
