<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
  </configSections>

  <Leafing.Settings>
    <add key="ObjectHandlerType" value="Reflection"/>
    <add key="DataBase" value="@Access : @~test.mdb"/>
  </Leafing.Settings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Leafing.Data" publicKeyToken="D77BBD87A80780B6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.9.4034.28040" newVersion="3.9.4034.28040"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
