<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util" />
  </configSections>

  <Lephone.Settings>
    <add key="SqlLogRecorder" value="Lephone.Util.Logging.ConsoleMessageRecorder, Lephone.Util" />
    <add key="CacheEnabled" value="true" />

    <add key="DataBase" value="@Access : @c:\test.mdb" />
  </Lephone.Settings>
</configuration>
