<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util" />
  </configSections>

  <Lephone.Settings>
    <add key="NameMapper" value="Lephone.Util.Text.InflectionNameMapper, Lephone.Util" />
    <add key="SqlLogRecorder" value="Lephone.Util.Logging.ConsoleMessageRecorder, Lephone.Util" />

    <add key="DataBase" value="@MySql : server=127.0.0.1; user id=root; password=123; database=mytest; pooling=false" />
    <add key="DbProviderFactory" value="@SmartDbFactory : MySql.Data, Version=5.1.2.2, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </Lephone.Settings>
</configuration>
