<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="org.hanzify.llf.Settings" type="org.hanzify.llf.util.Setting.NameValueSectionHandler, org.hanzify.llf.util" />
  </configSections>

  <org.hanzify.llf.Settings>
    <add key="AutoCreateTable" value="true" />
    <add key="DefaultContext" value="SQLite" />

    <add key="Access.DataBase" value="@Access : @~test.mdb" />

    <add key="Excel.DataBase" value="@Excel : @~test.xls" />

    <add key="SqlServer.DataBase" value="@SqlServer2005 : data source=LLF\SQLEXPRESS;initial catalog=llf_sql_test;user id=sa;password=123" />

    <add key="MySql.DataBase" value="@MySql : server=localhost;user id=root; password=123; database=mytest; pooling=false" />
    <add key="MySql.DbProviderFactory" value="@SmartDbFactory : MySql.Data, Version=5.0.1.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

    <add key="MySql2.DataBase" value="@MySql : server=localhost;user id=root; password=123; database=mytest; pooling=false" />
    <add key="MySql2.DbProviderFactory" value="@SmartDbFactory : MySql.Data, Version=5.1.2.2, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

    <add key="SQLite.DataBase" value="@SQLite : @~Test.db" />
    <add key="SQLite.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.44.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
  </org.hanzify.llf.Settings>
</configuration>
