<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="org.hanzify.llf.Settings" type="org.hanzify.llf.util.Setting.NameValueSectionHandler, org.hanzify.llf.util" />
  </configSections>

  <org.hanzify.llf.Settings>
    <add key="AutoCreateTable" value="true" />
    <add key="DefaultContext" value="Development" />
    
    <add key="Test.DataBase" value="@Access : @~App_Data\test.mdb" />

    <add key="Development.DataBase" value="@SQLite : @~App_Data\test.db" />
    <add key="Development.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.44.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
  </org.hanzify.llf.Settings>

  <appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows"/>
	</system.web>
</configuration>
