<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util" />
  </configSections>

  <Lephone.Settings>
    <add key="SqlLogRecorder" value="Lephone.Util.Logging.DebugLogRecorder, Lephone.Util" />
    <add key="AutoCreateTable" value="true" />
    <add key="DefaultContext" value="Development" />
    
    <add key="Test.DataBase" value="@Access : @~App_Data\test.mdb" />

    <add key="Development.DataBase" value="@SQLite : @~App_Data\test.db" />
    <add key="Development.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.36.1, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
  </Lephone.Settings>

  <appSettings/>
	<connectionStrings/>
	<system.web>
    <httpHandlers>
      <add path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.7z" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.zip" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.rar" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.htm" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*.html" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true" />
      <add path="*" verb="*" type="Lephone.Web.HttpDispatcher, Lephone.Web" validate="true" />
    </httpHandlers>

    <compilation debug="true" />
		<authentication mode="Windows"/>
	</system.web>
</configuration>
