<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Core.Setting.NameValueSectionHandler, Lephone.Core" />
  </configSections>

  <Lephone.Settings>
    <add key="NameMapper" value="Lephone.Core.Text.UnderlineNameMapper, Lephone.Core" />
    <add key="DataBase" value="@Access : @~test.mdb" />
  </Lephone.Settings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
