<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
	</configSections>
	<Leafing.Settings>
		<!--Mvc Config-->
		<add key="ControllerAssembly" value="Soaring.Biz, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0610272acecf53c3"/>
		<add key="ScaffoldingMasterPage" value="~/main.master"/>
		<!--Logger Config-->
		<add key="SystemLogRecorder" value="Leafing.Core.Logging.DtsFileLogRecorder, Leafing.Core"/>
		<!--Database Config-->
		<add key="NameMapper" value="Leafing.Core.Text.InflectionNameMapper, Leafing.Core"/>
		<add key="CacheEnabled" value="false"/>
		<add key="DefaultContext" value="Development"/>
		<!--Development Database-->
		<add key="Development.AutoCreateTable" value="true"/>
		<add key="Development.DataBase" value="@SQLite : @~App_Data\Soaring.db"/>
		<add key="Development.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
		<!--Deployment Database-->
		<add key="Deployment.DataBase" value="@Firebird : User=SYSDBA;Password=masterkey;Database={BaseDirectory}App_Data\Soaring.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=UNICODE_FSS;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
		<add key="Deployment.DbProviderFactory" value="@SmartDbFactory : FirebirdSql.Data.FirebirdClient, Version=2.5.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c"/>
	</Leafing.Settings>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<sessionState mode="Off"/>
		<httpRuntime enableVersionHeader="false"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages pageBaseType="Leafing.Web.Mvc.PageBase, Leafing.Web" validateRequest="false" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Leafing.Web"/>
				<add namespace="Leafing.Web.Mvc"/>
				<add namespace="Soaring.Biz.Models"/>
				<add namespace="Soaring.Biz.Controllers"/>
				<add namespace="Soaring.Biz.Helpers"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
			<controls>
				<add tagPrefix="biz" namespace="Leafing.Web.Common" assembly="Leafing.Web"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="*.ico" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.7z" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.zip" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.rar" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.htm" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.html" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.xml" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.swf" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.xap" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.flv" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*" verb="*" type="Leafing.Web.MvcDispatcher, Leafing.Web" validate="true"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
